<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.selenium.Listeners.Listener"></listener>
        <listener class-name="com.selenium.Listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="webike">
        <classes>
            <class name="com.selenium.pages.HomePage">
                <methods>
                    <include name="verifyHomePages"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>